@media only screen and (max-width:480px) {
    .menu{
        display: block;
        font-size: 40px;
    }
    .menu .fa-times{
        display: none;
    }
    .active_page{
        padding-bottom: 10px;
        border-bottom: 1px solid white;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header ul{
        z-index: 3;
        position: absolute;
        top: 50px;
        background-color: white;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
        left: -1000px;
        transition: .2s ease-in-out;
    }
    header i{
        display: block;
        color: white;
    }
    header .text{
        display: block;
        color: white;
        font-size: 30px;
        text-transform: uppercase;
    }
    header .logo{
        width: 15%;
    }
    .body{
        padding: 20px 5%;
        width: 100%;
    }
    .spa .about_us{
        flex-direction: column;
        padding: 0;
    }
    .spa .about_us h2{
        width: 50%;
        padding: 0;
    }
    .spa .about_us div{
        width: 100%;
    }
    .spa .about_us div p{
        font-size: 15px;
    }
    .spa .box_design>div{
        padding: 0px 20px;
        width: 100%;
        border: 2px solid palevioletred;
    }
    .spa .box_design>div h3{
        width: 100%;
    }
    .spa .card_design .flex{
        flex-direction: column;
    }
    .spa .card_design .flex:nth-of-type(1){
        flex-direction: column-reverse;
    }
    .spa .card_design .flex .content{
        width: 100%;
        padding: 40px 0px;
    }
    .spa .card_design .flex .image{
        width: 100%;
    }
    .spa .gallery h1{
        display: none;
        font-size: 10px;
    }
    .spa .gallery .slides{
        min-width: 100%;
        margin: 0;
    }
    .spa .step_design{
        flex-direction: column;
    }
    .spa .step_design>div{
        width: 100%;
        margin: 10px 0px;
    }
    .spa .testimonials{
        flex-direction: column;
    }
    .spa .testimonials .left{
        width: 100%;
    }
    .spa .testimonials button{
        display: none;
    }
    .spa .testimonials .right{
        width: 100%;
        padding: 40px 0;
    }
    .spa .contact{
        width: 100%;
        padding: 0;
    }
    .spa .contact h1{
        font-size: 25px;
    }
    .spa .contact form{
        width: 100%;
        padding: 15px;
    }
    .firsttext{
        padding: 20px;
    }
    .firsttext h1{
        font-size: 20px;
    }
    .container h1{
        padding: 70px;
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .content_container{
        width: 100%;
        height: 100%;
    }
    .content_container img{
        height: 100%;
    }
    .content_container a{
        padding-left: 50px;
    }
    .subscribeemail input{
        width: 80%;
    }
    footer{
        padding:20px;
        border: none;
    }
    footer .flex{
        flex-direction: column;
    }
    footer .flex>div{
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) and (min-width:481px){

}