*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    position: relative;
}
.header_toggle{
    left: 0;
}
.section_toggle{
    width: 100%;
    left: 0;
}
div.menu{
    display: none;
    z-index: 5;
    position: fixed;
    right: 10px;
    top:10px;
    font-size: 60px;
    color: palevioletred;
}
div.menu .fa-times{
    display: none;
}
.top{
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid palevioletred;
    background-color: palevioletred;
    color: white;
    border-radius: 50%;
}
header{
    z-index: 5;
    width: 20%;
    height: 100vh;
    padding: 40px 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    transition: .2s ease-in-out;
}
header .logo{
    display: flex;
    align-items: center;
}
header .logo .image{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
header .logo .image img{
    width: 100%;
    height: 100%;
}
header .logo h1{
    font-size: 30px;
    text-transform: capitalize;
    color: palevioletred;
}
header ul li{
    padding: 20px 0px;
    list-style-type: none;
}
header ul li a{
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: palevioletred;
    transition: .2s ease-in-out;
}
header ul li a:hover{
    color: silver;
}
header .socials{
    display: flex;
    justify-content: space-evenly;
}
header .socials a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    color: palevioletred;
    transition: .2s ease-in-out;
}
header .socials a:hover{
    color: silver;
    border: 1px solid silver;
}
.body{
    width: 80%;
    left: 20%;
    padding: 20px;
    position: absolute;
    background:linear-gradient(rgba(0, 0, 0, 0.701),rgba(0, 0, 0, 0.724)),url('/static/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.spa .home{
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.637),rgba(0, 0, 0, 0.574)),url('/static/img/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.spa .home .content{
    padding: 30px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}
.spa .home .content h3{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: palevioletred;
}
.spa .home .content h1{
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
    color: black;
}
.spa .about_us{
    padding: 80px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.spa .about_us h2{
    width: 40%;
    padding: 60px 0px;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.spa .about_us div{
    width: 60%;
    padding: 20px;
}
.spa .about_us div p{
    font-size: 18px;
    line-height: 30px;
    color: silver;
}
.spa .about_us div a{
    margin-top: 20px;
    padding: 20px;
    width: fit-content;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    background-color: white;
    color: palevioletred;
    transition: .2s ease-in-out;
}
.spa .about_us div a:hover{
    background-color: palevioletred;
    color: white;
}
.spa .box_design{
    display: flex;
    flex-wrap: wrap;
}
.spa .box_design>div{
    width: 50%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spa .box_design>div:nth-of-type(1){
    border-right: 2px solid palevioletred;
    border-bottom: 2px solid palevioletred;
}
.spa .box_design>div:last-child{
    border-top: 2px solid palevioletred;
    border-left: 2px solid palevioletred;
}
.spa .box_design>div .image{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.spa .box_design>div .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.spa .box_design>div h3{
    width: 45%;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 50px;
    text-transform: capitalize;
}
.spa .card_design{
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
}
.spa .card_design .flex{
    width: 100%;
    display: flex;
}
.spa .card_design .flex:nth-of-type(1){
    margin-bottom: 40px;
}
.spa .card_design .flex .content{
    width: 50%;
    padding: 40px;
}
.spa .card_design .flex .content h3{
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
}
.spa .card_design .flex .content p{
    padding: 20px 0px;
    font-size: 18px;
    line-height: 30px;
    color: silver;
}
.spa .card_design .flex .content a{
    padding: 20px;
    width: fit-content;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    background-color: palevioletred;
    color: white;
    transition: .2s ease-in-out;
}
.spa .card_design .flex .content a:hover{
    color: palevioletred;
    background-color: white;
}
.spa .card_design .flex .image{
    width: 50%;
    height: 70vh;
}
.spa .card_design .flex .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.spa .gallery h1{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-align: center;
}
.spa .gallery .slideshow{
    position: relative;
    display: flex;
    align-items: center;
}
.spa .gallery .slideshow .slide_container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.spa .gallery .slideshow .slide_container>div:nth-of-type(1){
    margin-left: 0;
}
.spa .gallery .slides{
    min-width: 32%;
    height: 60vh;
    margin-left: 2%;
}
.spa .gallery .slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.spa .gallery .slideshow button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    position: absolute;
    background-color: palevioletred;
    color: white;
    border: none;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.spa .gallery .slideshow button:hover{
    color: palevioletred;
    background-color: white;
}
.spa .gallery .slideshow button:nth-of-type(2){
    right: 0;
}
.spa .step_design{
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
}
.spa .step_design>div{
    width: 32%;
}
.spa .step_design>div div{
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed palevioletred;
    border-radius: 50%;
}
.spa .step_design>div h2{
    margin: 20px 0px 10px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: capitalize;
}
.spa .step_design>div p{
    line-height: 25px;
    color: silver;
}
.spa .testimonials{
    display: flex;
}
.spa .testimonials .left{
    width: 50%;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
}
.spa .testimonials button{
    z-index: 1;
    left: 10px;
    font-size: 100px;
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    animation: left 5s infinite .1s linear;
}
@keyframes left {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0px);
    }
}
.spa .testimonials .left .image{
    width: 100%;
    height: 100%;
    background-color: black;
}
.spa .testimonials .left .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .5;
}
.spa .testimonials .left p{
    font-size: 60px;
    right: 20px;
    position: absolute;
}
.spa .testimonials .right{
    width: 50%;
    padding: 40px;
}
.spa .testimonials .right h3{
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
}
.spa .testimonials .right p{
    padding: 20px 0px;
    font-size: 18px;
    line-height: 30px;
    color: silver;
}
.spa .testimonials .right h4{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.spa .testimonials .right h4 span{
    letter-spacing: 5px;
    text-transform: uppercase;
    color: palevioletred;
}
.spa .contact{
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spa .contact h1{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-align: center;
}
.spa .contact form{
    margin-top: 40px;
    padding: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
}
.spa .contact form input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid silver;
    color: white;
}
.spa .contact form textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid silver;
    color: white;
}
.spa .contact form button{
    width: 40%;
    margin-top: 20px;
    padding: 15px 0px;
    font-size: 18px;
    border-radius: 20px;
    text-transform: capitalize;
    background-color: palevioletred;
    color: white;
    border: none;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.spa .contact form button:hover{
    color: palevioletred;
    background-color: white;
}
footer{
    padding: 20px 0px 0px;
    border-top: 2px solid palevioletred ;
}
footer .flex{
    display: flex;
    justify-content: space-between;
}
footer .flex>div{
    width: 32%;
}
footer .flex .logo{
    display: flex;
    align-items: center;
}
footer .flex .logo .image{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
footer .flex .logo .image img{
    width: 100%;
    height: 100%;
}
footer .flex .logo h1{
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
}
footer .flex .logo h1 span{
    color: palevioletred;
    text-transform: uppercase;
}
footer .flex .list li{
    padding: 10px 0px;
}
footer .flex .subscribe h3{
    font-weight: 400;
    text-transform: capitalize;
}
footer .flex .subscribe form{
    display: flex;
    margin-top: 20px;
}
footer .flex .subscribe form input{
    width: 70%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid silver;
    color: white;
}
footer .flex .subscribe form button{
    width: 30%;
    padding: 10px 0px;
    height: fit-content;
    font-size: 18px;
    text-transform: capitalize;
    background-color: palevioletred;
    color: white;
    border: 1px solid palevioletred;
}
footer .ending{
    margin-top: 10px;
    color: silver;
}