*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header_toggle{
    left: 0;
}
.overflow{
    overflow: hidden;
}
.active_page{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.menu{
    display: none;
}
.head{
    text-align: center;
    font-size: 10px;
    background:linear-gradient(rgba(0, 0, 0, 0.701),rgba(0, 0, 0, 0.724)),url('/static/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
header{
    position: relative;
    display: flex;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.701),rgba(0, 0, 0, 0.724)),url('/static/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header .text{
    display: none;
}
header .logo{
    height: 50px;
    width: 6%;
}
header .logo img{
    width: 100%;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
header li{
    padding: 10px;
    margin-left: 20px;
}
header li a{
    text-decoration: none;
    color: palevioletred;
    font-size: 22px;
}
header i{
    display: none;
}
.body{
    padding:80px;
    position: absolute;
    background:linear-gradient(rgba(0, 0, 0, 0.701),rgba(0, 0, 0, 0.724)),url('/static/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.spa .about_us{
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.spa .about_us h2{
    width: 40%;
    padding: 60px 0px;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.spa .about_us div{
    width: 60%;
    padding: 20px;
}
.spa .about_us div p{
    font-size: 18px;
    line-height: 30px;
    color: silver;
}
.spa .about_us div a:hover{
    background-color: palevioletred;
    color: white;
}
.spa .box_design{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}
.spa .box_design>div{
    width: 50%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spa .box_design>div:nth-of-type(1){
    border-right: 2px solid palevioletred;
    border-bottom: 2px solid palevioletred;
}
.spa .box_design>div:last-child{
    border-top: 2px solid palevioletred;
    border-left: 2px solid palevioletred;
}
.spa .box_design>div .image{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.spa .box_design>div .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.spa .box_design>div h3{
    width: 45%;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 50px;
    text-transform: capitalize;
}
.spa .card_design{
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
.spa .card_design .flex{
    width: 100%;
    display: flex;
}
.spa .card_design .flex:nth-of-type(1){
    margin-bottom: 40px;
}
.spa .card_design .flex .content{
    width: 50%;
    padding: 40px;
}
.spa .card_design .flex .content h3{
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
}
.spa .card_design .flex .content p{
    padding: 20px 0px;
    font-size: 18px;
    line-height: 30px;
    color: silver;
}
.spa .card_design .flex .content a{
    padding: 20px;
    width: fit-content;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    background-color: palevioletred;
    color: white;
    transition: .2s ease-in-out;
}
.spa .card_design .flex .content a:hover{
    color: palevioletred;
    background-color: white;
}
.spa .card_design .flex .image{
    width: 50%;
    height: 70vh;
}
.spa .card_design .flex .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.spa .gallery>h1:nth-child(1){
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: capitalize;
}
.spa .gallery h2{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}
.spa .gallery .slideshow{
    position: relative;
    display: flex;
    align-items: center;
}
.spa .gallery .slideshow .slide_container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.spa .gallery .slideshow .slide_container>div:nth-of-type(1){
    margin-left: 0;
}
.spa .gallery .slides{
    position: relative;
    min-width: 23%;
    height: 100%;
    margin-left: 2%;
}
.spa .gallery .slides .text h6{
    width: 100%;
    z-index: 2;
    position: absolute;
    text-align: center;
    bottom: 0;
    color: white;
    background-color: black;
    font-size: 30px;
}
.spa .gallery .slides img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.spa .gallery .slideshow button{
    z-index: 2;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    position: absolute;
    background-color: palevioletred;
    color: white;
    border: none;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.spa .gallery .slideshow button:hover{
    color: palevioletred;
    background-color: white;
}
.spa .gallery .slideshow button:nth-of-type(2){
    right: 0;
}
.spa .step_design{
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
}
.spa .step_design>div{
    width: 32%;
}
.spa .step_design>div div{
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed palevioletred;
    border-radius: 50%;
}
.spa .step_design>div h2{
    margin: 20px 0px 10px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: capitalize;
}
.spa .step_design>div p{
    line-height: 25px;
    color: silver;
}
.spa .testimonials{
    display: flex;
}
.spa .testimonials .left{
    width: 50%;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
}
.spa .testimonials button{
    z-index: 1;
    left: 10px;
    font-size: 100px;
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    animation: left 5s infinite .1s linear;
}
@keyframes left {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0px);
    }
}
.spa .testimonials .left .image{
    width: 100%;
    height: 100%;
    background-color: black;
}
.spa .testimonials .left .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .5;
}
.spa .testimonials .left p{
    font-size: 60px;
    right: 20px;
    position: absolute;
}
.spa .testimonials .right{
    width: 50%;
    padding: 40px;
}
.spa .testimonials .right h3{
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
}
.spa .testimonials .right p{
    padding: 20px 0px;
    font-size: 18px;
    line-height: 30px;
    color: silver;
}
.spa .testimonials .right h4{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.spa .testimonials .right h4 span{
    letter-spacing: 5px;
    text-transform: uppercase;
    color: palevioletred;
}
.spa .contact{
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spa .contact h1{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-align: center;
}
.spa .contact form{
    margin-top: 40px;
    padding: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
}
.spa .contact form input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid silver;
    color: white;
}
.spa .contact form textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid silver;
    color: white;
}
.spa .contact form button{
    width: 40%;
    margin-top: 20px;
    padding: 15px 0px;
    font-size: 18px;
    border-radius: 20px;
    text-transform: capitalize;
    background-color: palevioletred;
    color: white;
    border: none;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.spa .contact form button:hover{
    color: palevioletred;
    background-color: white;
}
.firsttext{
    padding: 50px;
}
.firsttext h1{
    text-transform: uppercase;
}
.firsttext h4{
    padding-top: 20px;
    font-weight: 300;
}
.container{
    width: 100%;
    height: 40vh;
}
.container h1{
    padding: 100px 35%;
    text-align: center;
    font-weight: 200;
}
.container a{
    text-decoration-color: black;
    text-decoration-thickness: 1px;
    color: black;
}
.content{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.content_container{
    margin-bottom: 25px;
    width: 32%;
    margin-right: 15px;
}
.content_container img{
    width: 100%;
    height: 450px;
}
.content_container h1{
    font-size: 20px;
    text-align: center;
}
.content_container a{
    font-size: 15px;
    color: black;
    padding-left: 90px;
}
.subscribeemail{
    text-align: center;
    padding: 20px;
}
.subscribeemail h4{
    font-size: 25px;
    font-weight: 400;
}
.subscribeemail input{
    margin-top: 10px;
    width: 30%;
    height: 40px;
    padding: 20px;
}
footer{
    padding: 20px 5%;
    border-top: 2px solid palevioletred ;
}
footer .flex{
    display: flex;
    justify-content: space-between;
}
footer .flex>div{
    width: 32%;
}
footer .flex .logo{
    display: flex;
    align-items: center;
}
footer .flex .logo .image{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
footer .flex .logo .image img{
    width: 100%;
    height: 100%;
}
footer .flex .logo h1{
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
}
footer .flex .logo h1 span{
    color: palevioletred;
    text-transform: uppercase;
}
footer .flex .list li{
    padding: 10px 0px;
}
footer .flex .subscribe h3{
    font-weight: 400;
    text-transform: capitalize;
}
footer .flex .subscribe form{
    display: flex;
    margin-top: 20px;
}
footer .flex .subscribe form input{
    width: 70%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid silver;
    color: white;
}
footer .flex .subscribe form button{
    width: 30%;
    padding: 10px 0px;
    height: fit-content;
    font-size: 18px;
    text-transform: capitalize;
    background-color: palevioletred;
    color: white;
    border: 1px solid palevioletred;
}
footer .ending{
    margin-top: 10px;
    color: rgb(117, 114, 114);
}